Node/rasp_local_flow.txt
[{"id":"773b2e09.ffa17","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"a8d81344.7de4c","type":"mongodb3","z":"","uri":"mongodb://ds219000.mlab.com:19000/smartentry","name":"smartentry","options":"","parallelism":"-1"},{"id":"913009e5.a357f8","type":"mongodb3","z":"","uri":"mongodb://ds219000.mlab.com:19000/smartentry","name":"smartEntry","options":"","parallelism":"-1"},{"id":"c64fa92a.752518","type":"mongodb3","z":"","uri":"mongodb://ds219000.mlab.com:19000/smartentry","name":"smartEntry","options":"","parallelism":"-1"},{"id":"c0c71d8e.750bb","type":"mongodb3","z":"","uri":"mongodb://ds219000.mlab.com:19000/smartentry","name":"smartEntry","options":"","parallelism":"-1"},{"id":"9cf14f0c.7e3","type":"mongodb3","z":"","uri":"mongodb://ds219000.mlab.com:19000/smartentry","name":"smartEntry","options":"","parallelism":"-1"},{"id":"1ed50079.23c37","type":"http in","z":"773b2e09.ffa17","name":"[get] adder","url":"/addrfid","method":"get","upload":false,"swaggerDoc":"","x":140,"y":400,"wires":[["e4eefb40.b81c38"]]},{"id":"9c88585e.f19fb8","type":"http in","z":"773b2e09.ffa17","name":"[get] rfids","url":"/rfidstatus","method":"get","upload":false,"swaggerDoc":"","x":143,"y":594,"wires":[["e9709de4.d02d4"]]},{"id":"63d0f7bf.075428","type":"template","z":"773b2e09.ffa17","name":"drawcarlogs","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head>\n<META HTTP-EQUIV=\"refresh\" CONTENT=\"5\">\n<title >RFID Status</title >\n</head>\n<link rel=\"stylesheet\" href=\"https://maxcdn.bootstrapcdn.\ncom/bootstrap/3.3.7/css/bootstrap.min.css\">\n<script src=\"https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js\"></script>\n<script src=\"https://maxcdn.bootstrapcdn.com/bootstrap /3.3.7/js/bootstrap.min.js\"></script>\n<table class=\"table table -striped\"> \n<tr>\n<th>Tag</th>\n<th>Plate</th>\n<th>Usage</th>\n<th>Role</th>\n{{# payload }}\n<tr class=\"\"> \n<td>{{tag}}</td>\n<td>{{plate}}</td> \n<td>{{usage}}</td> \n<td>{{role}}</td> \n{{/ payload }}\n</table>\n</html>","output":"str","x":652,"y":599,"wires":[["c6401c09.1a9c3"]]},{"id":"c6401c09.1a9c3","type":"http response","z":"773b2e09.ffa17","name":"OK","statusCode":"200","headers":{},"x":891,"y":598,"wires":[]},{"id":"45ba483c.4cc968","type":"mongodb3 in","z":"773b2e09.ffa17","service":"_ext_","configNode":"913009e5.a357f8","name":"RFIDS","collection":"rfids","operation":"","x":468,"y":596,"wires":[["63d0f7bf.075428"]]},{"id":"e4eefb40.b81c38","type":"template","z":"773b2e09.ffa17","name":"visualizer","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n<title> Add new RFID </title>\n<form action=\"/addrfid\" method=\"post\">\n  Tag:<br>\n  <input type=\"text\" name=\"tag\"><br>\n  Plate:<br>\n  <input type=\"text\" name=\"plate\" ><br><br>\n  Usage:<br>\n  <input type=\"text\" name=\"usage\" ><br><br>\n  Role:<br>\n  <input type=\"text\" name=\"role\" ><br><br>\n  <input type=\"submit\" value=\"Insert\">\n</form>\n \n</html>","output":"str","x":324,"y":398,"wires":[["c6401c09.1a9c3"]]},{"id":"b68e065f.e33188","type":"http in","z":"773b2e09.ffa17","name":"[post] adder","url":"/addrfid","method":"post","upload":false,"swaggerDoc":"","x":150,"y":494,"wires":[["189f49bb.c1fb56"]]},{"id":"189f49bb.c1fb56","type":"mongodb3 in","z":"773b2e09.ffa17","service":"_ext_","configNode":"913009e5.a357f8","name":"Adder","collection":"rfids","operation":"insertOne","x":337.5,"y":494,"wires":[["f58a48cc.791a38"]]},{"id":"f58a48cc.791a38","type":"template","z":"773b2e09.ffa17","name":"visualizer","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>  \n  <head>\n  </head>\n  <body>\n    <h1>New RFID has been added successfully</h1>\n  </body>\n</html>","output":"str","x":494,"y":490,"wires":[["c6401c09.1a9c3"]]},{"id":"92d07749.164008","type":"http in","z":"773b2e09.ffa17","name":"[get] carlogs","url":"/carlogs","method":"get","upload":false,"swaggerDoc":"","x":156,"y":700,"wires":[["b4893a12.3a11a8"]]},{"id":"b4893a12.3a11a8","type":"function","z":"773b2e09.ffa17","name":"getRFID","func":"msg.operation=\"find.toArray\";\nmsg.limit = 5;\nmsg.skip = 0;\nreturn msg;","outputs":1,"noerr":0,"x":343.5,"y":704,"wires":[["e390678c.c64c08"]]},{"id":"e390678c.c64c08","type":"mongodb3 in","z":"773b2e09.ffa17","service":"_ext_","configNode":"913009e5.a357f8","name":"Carlogs","collection":"carlogs","operation":"","x":512.5,"y":687,"wires":[["bd23c6e7.35c048"]]},{"id":"bd23c6e7.35c048","type":"template","z":"773b2e09.ffa17","name":"drawRFID","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head>\n<title >Car Status</title >\n<META HTTP-EQUIV=\"refresh\" CONTENT=\"5\">\n</head>\n<link rel=\"stylesheet\" href=\"https://maxcdn.bootstrapcdn.\ncom/bootstrap/3.3.7/css/bootstrap.min.css\">\n<script src=\"https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js\"></script>\n<script src=\"https://maxcdn.bootstrapcdn.com/bootstrap /3.3.7/js/bootstrap.min.js\"></script>\n<table class=\"table table -striped\"> \n<tr>\n<th>Tag</th>\n<th>Plate</th>\n<th>Role</th>\n<th>Arrival</th>\n{{# payload }}\n<tr class=\"\"> \n<td>{{tag}}</td>\n<td>{{plate}}</td> \n<td>{{role}}</td> \n<td>{{arrival}}</td> \n{{/ payload }}\n</table>\n</html>","output":"str","x":666.5,"y":693,"wires":[["c6401c09.1a9c3"]]},{"id":"e9709de4.d02d4","type":"function","z":"773b2e09.ffa17","name":"getRFID","func":"msg.operation=\"find.toArray\";\nmsg.limit = 5;\nmsg.skip = 0;\nreturn msg;","outputs":1,"noerr":0,"x":315,"y":596,"wires":[["45ba483c.4cc968"]]},{"id":"f7d987e5.5e11e8","type":"function","z":"773b2e09.ffa17","name":"checkRFID","func":"if(msg.payload.tag!==\"\"){\n    \n\nvar newMsg=msg;\nnewMsg.operation=\"findOne\";\nnewMsg.payload={tag:msg.payload.tag.trim()};\n\nreturn newMsg;\n}","outputs":1,"noerr":0,"x":610,"y":940,"wires":[["9c8eaacd.6764e8","3e3f8107.46f28e"]]},{"id":"9c8eaacd.6764e8","type":"mongodb3 in","z":"773b2e09.ffa17","service":"_ext_","configNode":"913009e5.a357f8","name":"checkCredential","collection":"rfids","operation":"findOne","x":860,"y":940,"wires":[["ceada040.b8ab2"]]},{"id":"8678d9c3.362cc8","type":"switch","z":"773b2e09.ffa17","name":"roleCheck","property":"payload.role","propertyType":"msg","rules":[{"t":"eq","v":"student","vt":"str"},{"t":"eq","v":"reserved","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":245,"y":1239,"wires":[["b139389c.616318"],[]]},{"id":"ceada040.b8ab2","type":"function","z":"773b2e09.ffa17","name":"inserter","func":"if(msg.payload!==null){\n    \nvar newMsg=msg;\nnewMsg.operation=\"insertOne\";\nnewMsg.payload={\"plate\":msg.payload.plate,\"tag\":msg.payload.tag,\"role\":msg.payload.role,\"arrival\":new Date()};\nnewMsg.limit = 5;\nnewMsg.skip = 0;\nreturn newMsg;\n}","outputs":1,"noerr":0,"x":900,"y":1020,"wires":[["f392e534.bb8ee8","93d0dd36.39b62","47f4f205.6b52ac","8678d9c3.362cc8","a62af380.be7b"]]},{"id":"47f4f205.6b52ac","type":"mongodb3 in","z":"773b2e09.ffa17","service":"_ext_","configNode":"913009e5.a357f8","name":"ArrivalLog","collection":"carlogs","operation":"insertOne","x":1090,"y":1060,"wires":[[]]},{"id":"f392e534.bb8ee8","type":"function","z":"773b2e09.ffa17","name":"mailformatter","func":"var newMsg=msg;\nnewMsg.payload=\"Car \"+msg.payload.plate+\" has entered with tag \"+msg.payload.tag+\" on date \"+msg.payload.arrival;\nnewMsg.limit = 5;\nnewMsg.skip = 0;\nreturn newMsg;","outputs":1,"noerr":0,"x":1140,"y":940,"wires":[["35296914.6106e6"]]},{"id":"35296914.6106e6","type":"e-mail","z":"773b2e09.ffa17","server":"smtp.gmail.com","port":"465","secure":true,"name":"smartentity6@gmail.com","dname":"receiver","x":1360.5,"y":1064,"wires":[]},{"id":"7669de76.e8585","type":"http in","z":"773b2e09.ffa17","name":"[get] autopark","url":"/autopark","method":"get","upload":false,"swaggerDoc":"","x":137.5,"y":318,"wires":[["327447ea.3601f8"]]},{"id":"327447ea.3601f8","type":"function","z":"773b2e09.ffa17","name":"getRFID","func":"msg.operation=\"find.toArray\";\nmsg.limit = 5;\nmsg.skip = 0;\nreturn msg;","outputs":1,"noerr":0,"x":317.5,"y":317,"wires":[["d1bbb799.60ad98"]]},{"id":"d1bbb799.60ad98","type":"mongodb3 in","z":"773b2e09.ffa17","service":"_ext_","configNode":"913009e5.a357f8","name":"Autopark","collection":"autopark","operation":"","x":501.5,"y":319,"wires":[["79e82b92.dcd084"]]},{"id":"79e82b92.dcd084","type":"template","z":"773b2e09.ffa17","name":"drawautopark","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head>\n<META HTTP-EQUIV=\"refresh\" CONTENT=\"5\">\n<title >Autopark Status</title >\n</head>\n<link rel=\"stylesheet\" href=\"https://maxcdn.bootstrapcdn.\ncom/bootstrap/3.3.7/css/bootstrap.min.css\">\n<script src=\"https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js\"></script>\n<script src=\"https://maxcdn.bootstrapcdn.com/bootstrap /3.3.7/js/bootstrap.min.js\"></script>\n<table class=\"table table -striped\"> \n<tr>\n<th>Tag</th>\n<th>Arrival</th>\n{{# payload }}\n<tr class=\"\"> \n<td>{{tag}}</td>\n<td>{{arrival}}</td> \n{{/ payload }}\n</table>\n<p>Number of cars in campus:{{payload.length}}</p>\n</html>","output":"str","x":691.5,"y":317,"wires":[["c6401c09.1a9c3"]]},{"id":"b139389c.616318","type":"delay","z":"773b2e09.ffa17","name":"StudentDelay","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":514,"y":1236,"wires":[["a0ddbe53.c9948"]]},{"id":"6d3b952.061d66c","type":"mongodb3 in","z":"773b2e09.ffa17","service":"_ext_","configNode":"913009e5.a357f8","name":"Autolog","collection":"autopark","operation":"findOne","x":895.5,"y":1254,"wires":[["60e0c6a9.a5b0d8"]]},{"id":"a0ddbe53.c9948","type":"function","z":"773b2e09.ffa17","name":"checkInside","func":"var newMsg=msg;\nnewMsg.operation=\"findOne\";\nnewMsg.payload={\"tag\":msg.payload.tag.trim()};\nreturn newMsg;","outputs":1,"noerr":0,"x":715.5,"y":1251,"wires":[["6d3b952.061d66c"]]},{"id":"60e0c6a9.a5b0d8","type":"function","z":"773b2e09.ffa17","name":"Fault","func":"if(msg.payload===null){\n    msg.payload=\"Student car is probably didn't enter Parking Lot\"\n    return msg;\n}\n","outputs":1,"noerr":0,"x":1090,"y":1240,"wires":[["35296914.6106e6"]]},{"id":"8ec38c1b.7b97a","type":"daemon","z":"773b2e09.ffa17","name":"RFIDReader","command":"python","args":"-u /home/pi/rfidreader.py","cr":true,"redo":true,"op":"string","x":70,"y":940,"wires":[["e178f123.eb407"],[],[]]},{"id":"335266ef.fa1aca","type":"rpi-gpio out","z":"773b2e09.ffa17","name":"","pin":"36","set":true,"level":"0","freq":"","out":"out","x":1300,"y":780,"wires":[]},{"id":"65a3fba3.7f7284","type":"function","z":"773b2e09.ffa17","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":null,"y":null,"wires":[[]]},{"id":"ea9188cb.2831c8","type":"function","z":"773b2e09.ffa17","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":null,"y":null,"wires":[[]]},{"id":"59d89759.3be558","type":"function","z":"773b2e09.ffa17","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":null,"y":null,"wires":[[]]},{"id":"10567a57.be5296","type":"rpi-gpio in","z":"773b2e09.ffa17","name":"gpio04","pin":"40","intype":"up","debounce":"25","read":false,"x":130,"y":1040,"wires":[["e178f123.eb407"]]},{"id":"e178f123.eb407","type":"function","z":"773b2e09.ffa17","name":"concat","func":"context.rfid=\"\";\ncontext.state=context.state || 0;\nif(msg.topic==\"pi/40\"){\n    context.state=msg.payload;\n}else{\n    context.rfid=msg.payload.trim();\n}\nmsg={\n    payload:{\n        \"tag\":context.rfid,\n        \"state\":context.state\n    }\n};\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":960,"wires":[["7560db1c.467964","1e347929.4e03a7"]]},{"id":"7560db1c.467964","type":"switch","z":"773b2e09.ffa17","name":"dbswitch","property":"payload.state","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":420,"y":960,"wires":[["7a7d527.96178ac"],["f7d987e5.5e11e8"]]},{"id":"93d0dd36.39b62","type":"function","z":"773b2e09.ffa17","name":"openGate","func":"if(msg.payload!==null){\nmsg.payload=1;\nreturn msg;\n}","outputs":1,"noerr":0,"x":1000,"y":740,"wires":[["335266ef.fa1aca","ce2fe91c.530d88"]]},{"id":"ce2fe91c.530d88","type":"function","z":"773b2e09.ffa17","name":"Closegate","func":"msg.payload=0;\nreturn msg;","outputs":1,"noerr":0,"x":1030,"y":820,"wires":[["55199112.4257d"]]},{"id":"55199112.4257d","type":"delay","z":"773b2e09.ffa17","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1180,"y":820,"wires":[["335266ef.fa1aca"]]},{"id":"e73017fc.6d4818","type":"mongodb3 in","z":"773b2e09.ffa17","service":"_ext_","configNode":"913009e5.a357f8","name":"insaut","collection":"autopark","operation":"insertOne","x":470,"y":1080,"wires":[[]]},{"id":"7a7d527.96178ac","type":"function","z":"773b2e09.ffa17","name":"auto","func":"if(msg.payload.tag!==\"\"){\n    \n\nvar newMsg=msg;\nnewMsg.operation=\"insertOne\";\nnewMsg.payload={tag:msg.payload.tag,arrival:new Date()};\nmsg.limit = 5;\nmsg.skip = 0;\nreturn newMsg;\n}","outputs":1,"noerr":0,"x":270,"y":1120,"wires":[["e73017fc.6d4818"]]},{"id":"3e3f8107.46f28e","type":"function","z":"773b2e09.ffa17","name":"removePark","func":"\nmsg.operation=\"findOneAndDelete\";\nreturn msg;\n","outputs":1,"noerr":0,"x":630,"y":820,"wires":[["1d720c58.95a404"]]},{"id":"1d720c58.95a404","type":"mongodb3 in","z":"773b2e09.ffa17","service":"_ext_","configNode":"c64fa92a.752518","name":"del","collection":"autopark","operation":"deleteOne","x":855.5,"y":879,"wires":[[]]},{"id":"1e347929.4e03a7","type":"debug","z":"773b2e09.ffa17","name":"READ RFID AND STATE","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":330,"y":880,"wires":[]},{"id":"9f937547.1e4ec8","type":"function","z":"773b2e09.ffa17","name":"calcempty","func":"var capacity=30;\nvar newMsg=msg;\nnewMsg.payload=capacity-msg.payload;\n\nreturn newMsg;","outputs":1,"noerr":0,"x":990,"y":1380,"wires":[["6205a83d.8be5e8"]]},{"id":"6205a83d.8be5e8","type":"debug","z":"773b2e09.ffa17","name":"EMPTY SPACE","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1131,"y":1307,"wires":[]},{"id":"ea013164.7834b","type":"mongodb3 in","z":"773b2e09.ffa17","service":"_ext_","configNode":"9cf14f0c.7e3","name":"numOfCars","collection":"autopark","operation":"count","x":790,"y":1340,"wires":[["9f937547.1e4ec8"]]},{"id":"a62af380.be7b","type":"function","z":"773b2e09.ffa17","name":"calcempty","func":"var newMsg=msg;\nnewMsg.payload={};\n\nreturn newMsg;","outputs":1,"noerr":0,"x":610,"y":1320,"wires":[["ea013164.7834b"]]}]
